.hero{
    height: 100vh;
    /* max-height: 1100px; */
    position: relative;
    overflow: hidden;
}

.hero-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.hero-slide{
    z-index: 1;
    width: 100%;
    height: 100%;
}

.hero-slider{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.hero-slider::before{
    content:'';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    bottom: 0vh;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: width 2s ease-in-out 1s;
}

.hero-content{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;

    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-content>h1 {
     font-size: clamp(1rem, 8vw, 5rem);
     text-transform: uppercase;
     font-weight: 400;
     text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
     margin-bottom: .8rem;
     /* text-align: center; */
}

.hero-content >p {
    text-shadow: 1px 1px 2px black;
    padding: 1rem;
    text-align: center;

}

.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}

/* MAIN BUTTON */
.hero-button{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    padding: 8px 20px;
    font-size: 20px;
    border-radius:8px;
    margin-top: 40px;
    z-index: 999;
}

.hero-button:hover{
    background-color: black;
    color: white;
    box-shadow: inset 0px 0px 20px var(--primary);
    transform: translateY(-2px);
}

.hero-button:active{
    transform: translateY(1px);
}

/* SLIDER BUTTONS */

.slider-buttons{
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    width: 70%;
}

.hero-arrow{
    font-size: 50px;
    color: var(--primary);
    cursor: pointer;
    padding: 10px;
    user-select: none;
    transition: 0.3s;
    opacity: .4;
    text-shadow: 1px 1px 2px black;
}

.hero-arrow:hover{
    color: white;
    transform: scale(1.05);
    opacity: .7;
    text-shadow: 1px 1px 2px black;
    /* text-shadow: inset 0px 0px 20px var(--primary); */
}

.hero-arrow:active{
    transform: translateY(2px);
}