.navbar{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100;
    position: fixed;
    width: 100%;
    background: transparent;
    font-weight: lighter;
    
    /* TRANSITION */
    /* transition: background 0.4s ease-in-out; */
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

.navbar.active{
    background: rgba(0, 0, 0, 5);
    
    /* NOT WORKING*/
    /* background: linear-gradient(90deg, rgb(75, 75, 75), rgb(0, 0, 0)); */

    /* -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear; */
}

.navbar-logo{
    height: 20px;
}

a{
    text-decoration: none;
}

.navbar-link{
    color: white;
    cursor: pointer;
    height: 100%;
    padding: 1rem;
    text-transform: uppercase;

    /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
}
.navbar-link:hover{
    transform: translateY(1px);
    color: var(--primary);
    border-bottom: 4px solid var(--primary);
    transition: all 0.2s ease-out;
}

.burger{
    display: none;
}
.burger>i{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-70%, 50%);
    color: white;
    font-size: 30px;
}

.nav-icon{

}

.nav-menu{
display: flex;
align-items: center;
margin-right: 3rem;
}

.navbar-button{

    background-color: var(--primary);
    color: black;
    border: none;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    padding: 8px 10px;
    font-size: 20px;
    border-radius:8px;
}
.navbar-button:hover{
    background-color: black;
    border: 2px solid var(--primary);
    color: white;
    box-shadow: inset 0px 0px 10px var(--primary);
}
.navbar-wrap{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 70%);
}

.navbar-wrap:hover{
    top: 1px
}
.navbar-wrap:active{
    top: 2px
}

@media screen and (max-width: 960px) {
    .nav-menu{
        display: none;
    }
    .navbar-wrap{
        display: none;
    }

    .burger{
        display: block;
    }
}